.App-link {
  color: #61dafb;
}

.grid-container {
  height: 100%;
  margin-top: 10px;
}

.grid-container-col {
  margin-top: 10px;
}

.list-item {
  padding: 5px 0px 5px 0px;
}

.card-container {
  min-height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
